@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #e0e0e0;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html, body {
  height: 100%;
}

body {
  color: var(--foreground);
  background: linear-gradient(-45deg, #1a1a1a, #2a2a2a, #3a3a3a, #2a2a2a);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
